<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>Campeones LoL</title>
</head>
<body>
    <div class="container">
        <div class="row mb-3">
            <!-- Aquí va la barra de navegación -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">League of Legends</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active">Usuario: Mauwur</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
        <div class="row mb-2">
            <div class="col-lg-4">
                <!-- Aquí va el formulario -->
                <div class="card">
                    <div class="card-body">
                        <form action="/insertar" method="post">
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label for="txtNumCampeon" class="form-label">Número de Campeón</label>
                                    <input type="text" id="txtNumCampeon" class="form-control" name="numcampeon">
                                </div>
                                <div class="col-lg-6">
                                    <label for="txtNombre" class="form-label">Nombre</label>
                                    <input type="text" id="txtNombre" class="form-control" name="nombre">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-12">
                                    <label for="txtDescripcion" class="form-label">Descripción</label>
                                    <input type="text" id="txtDescripcion" class="form-control" name="descripcion">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label for="txtNumAspectos" class="form-label">Número de aspectos</label>
                                    <input type="text" id="txtNumAspectos" class="form-control" name="numaspectos">
                                </div>
                                <div class="col-lg-6">
                                    <label for="txtMestria" class="form-label">Nivel de Maestría</label>
                                    <input type="text" id="txtMestria" class="form-control" name="nivelmaestria">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-12">
                                    <label for="txtPasiva" class="form-label">Pasiva</label>
                                    <input type="text" id="txtPasiva" class="form-control" name="pasiva">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label for="txtRol" class="form-label">Rol</label>
                                    <input type="text" id="txtRol" class="form-control" name="rol">
                                </div>
                                <div class="col-lg-6">
                                    <label for="txtDificultad" class="form-label">Dificultad</label>
                                    <input type="text" id="txtDificultad" class="form-control" name="dificultad">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Habilidades:</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="txtHabilidadQ" class="form-label">Q:</label>
                                    <input type="text" id="txtHabilidadQ" class="form-control" name="habilidales">
                                </div>
                                <div class="col-lg-3">
                                    <label for="txtHabilidadW" class="form-label">W:</label>
                                    <input type="text" id="txtHabilidadW" class="form-control" name="habilidales">
                                </div>
                                <div class="col-lg-3">
                                    <label for="txtHabilidadE" class="form-label">E:</label>
                                    <input type="text" id="txtHabilidadE" class="form-control" name="habilidales">
                                </div>
                                <div class="col-lg-3">
                                    <label for="txtHabilidadR" class="form-label">R:</label>
                                    <input type="text" id="txtHabilidadR" class="form-control" name="habilidales">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-5">
                                    <button class="btn btn-primary"> Guardar </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Aquí va la tabla -->
                <table class="table table-dark table-striped">
                    <thead>
                        <tr ALIGN="center" VALIGN="center">
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Rol</th>
                            <th>Maestría</th>
                            <!-- <th>Pasiva</th> -->
                            <th>Habilidades</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <% campeones.forEach( campeon =>{ %>
                            <tr ALIGN="justify" VALIGN="center">
                                <th rowspan="4"> <%= campeon.nombre %> </th>
                                <td rowspan="4"> <%= campeon.descripcion %> </td>
                                <td rowspan="4" VALIGN="center" ALIGN="center"> <%= campeon.rol %> </td>
                                <td rowspan="4" VALIGN="center" ALIGN="center"> <%= campeon.nivelmaestria %> </td>
                                <!-- <td rowspan="4"> <%= campeon.pasiva %> </td> -->
                                <td> <%= campeon.habilidales.slice(0,1) %> </td>
                                <td rowspan="4"> 
                                    <a href="/editar/<%= campeon.numcampeon %>" class="btn btn-warning">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                                <td rowspan="4"> 
                                    <a href="/delete/<%= campeon.numcampeon %>" class="btn btn-danger">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                            <tr ALIGN="justify" VALIGN="center">
                                <td> <%= campeon.habilidales.slice(1,2) %> </td>
                            </tr>
                            <tr ALIGN="justify" VALIGN="center">
                                <td> <%= campeon.habilidales.slice(2,3) %> </td>
                            </tr>
                            <tr ALIGN="justify" VALIGN="center">
                                <td> <%= campeon.habilidales.slice(3,4) %> </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>